In [2]:
import pandas as pd

In [46]:
a = pd.read_csv("Twitter_sentiment2.csv")
b = pd.read_csv("Articles_sentiment2.csv")
a = a.dropna(axis=1)


merged = b.merge(a, on='Date')
# df = merged.rename(columns={'Sentiment_x': 'Sentiment_Twitter', 'Sentiment_y': 'Sentiment_Articles'})
df = merged
df = df[df.Number_of_Tweets != 0]

merged.to_csv("Tweets_Articles_sentiment2.csv", index=False)
df

,Date,Neg_A_Sentiment,Neut_A_Sentiment,Number_of_Articles,Pos_A_Sentiment,Neg_T_Sentiment,Neut_T_Sentiment,Number_of_Tweets,Pos_T_Sentiment
10,2017-03-11,0.000,0.0,0,1.000,0.500000,0.500000,2,0.000000
11,2017-03-12,0.000,0.0,0,1.000,0.225806,0.564516,62,0.209677
12,2017-03-13,0.000,0.0,0,1.000,0.085106,0.659574,188,0.255319
13,2017-03-14,0.000,0.0,0,1.000,0.231638,0.491525,177,0.276836
14,2017-03-15,0.000,0.0,0,1.000,0.112583,0.582781,151,0.304636
15,2017-03-16,0.000,0.0,0,1.000,0.177419,0.443548,124,0.379032
16,2017-03-17,0.000,0.0,0,1.000,0.200000,0.400000,85,0.400000
17,2017-03-18,0.000,0.0,0,1.000,0.180328,0.393443,61,0.426230
18,2017-03-19,0.000,0.0,0,1.000,0.150000,0.650000,40,0.200000
19,2017-03-20,0.000,0.0,0,1.000,0.174757,0.563107,103,0.262136
20,2017-03-21,0.000,0.0,0,1.000,0.142857,0.523810,63,0.333333
30,2017-03-31,0.000,0.0,0,1.000,0.100000,0.500000,50,0.400000
31,2017-04-01,0.000,0.0,0,1.000,0.058824,0.627451,51,0.313725
32,2017-04-02,0.000,0.0,0,1.000,0.051282,0.512821,39,0.435897
33,2017-04-03,0.000,0.0,6,1.000,0.206107,0.488550,131,0.305344
34,2017-04-04,0.000,0.0,3,1.000,0.141509,0.528302,106,0.330189
35,2017-04-05,0.000,0.0,3,1.000,0.089552,0.641791,134,0.268657
36,2017-04-06,0.125,0.0,8,0.875,0.194030,0.582090,134,0.223881
37,2017-04-07,0.200,0.0,5,0.800,0.158879,0.607477,107,0.233645
40,2017-04-10,0.000,0.0,3,1.000,0.170000,0.550000,100,0.280000
41,2017-04-11,0.000,0.0,4,1.000,0.246032,0.476190,126,0.277778
42,2017-04-12,0.000,0.0,3,1.000,0.172727,0.618182,110,0.209091
43,2017-04-13,0.250,0.0,8,0.750,0.153846,0.589744,78,0.256410